div.box {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}

div.div1 {
  background: #FFFFFF;
  float: left;
  height: 100%;
  width: 50%;
}

div.div2 {
  background: #FFFFFF;
  height: 100%;
    width: 100%;
}